@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);

@red: #C00000;
@red-light: #FD1A1D;
@white: #FFF;
@gray-42: #424242;
@gray-51: #515151;
@gray-f7: #f7f7f7;


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 290px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 290px;
}
/* END Sticky footer styles
-------------------------------------------------- */

/* Common
-------------------------------------------------- */
a {
  &:hover {
    text-decoration: none;
  }
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.form-control {
  bottom: @gray-f7;
  box-shadow: none;
  border-radius: 0;
  height: 25px;
  font-size: 12px;

  &:focus,
  &:active {
    box-shadow: none;
  }
}
input, a, .btn {
  outline: none;

  &:hover ,
  &:focus {
    outline: none;
  }
}

.btn {
  .border-radius(6px);
  font-size: 16px;
}
/* END Common
-------------------------------------------------- */


.header-book {
  background: @red;
  height: 47px;

  &-box {
    &__title {
      color: @white;
      font-size: 14px;
      display: inline-block;
      margin: 0;
      vertical-align: -9px;
    }

    &__form {
      display: inline-block;
      margin: 0 0 0 40px;
      width: 260px;
      vertical-align: -16px;

      .btn-white {
        background: @gray-f7;
        color: @red-light;
        font-size: 12px;
        padding: 3px 12px;
      }
    }
  }
}




.footer {
  background: #F2F0EA;

  &-top {
    padding-bottom: 20px;
    border-bottom: 1px solid #969696;
  }

  &-list {
    display: inline-block;
    float: left;

    &__title {
      font-size: 18pt;
      color: @red;
      font-weight: 300;
      margin: 20px 0 10px;
    }

    li {
      display: block;

      a {
        .transition(all .2s);
        font-size: 13pt;
        color: @gray-42;

        &:hover {
          color: darken(@gray-42, 17%);
        }
      }
    }
  }

  &-form {
    margin: 5px 0 0;
    display: inline-block;

    .input-txt {
      width: 250px;
      border: 1px solid @gray-51;
      .border-radius(5px);
      padding: 6px 0 6px 20px;
      font-size: 12pt;
      color: @gray-42;
      font-style: italic;
      line-height: 24px;
      float: left;
    }
    .btn {
      padding: 7px 16px;
      margin: 0 0 0 10px;
    }
  }

  &-bottom {
    padding: 20px 0 0;
  }
}

.copy {
  font-size: 13pt;
  color: @gray-42;
}

.btn {
  &-red {
    .transition(all .2s);
    background: @red;
    color: @white;

    &:hover {
      background: lighten(@red, 3%);
      color: @white;
    }
    &:active {
      background: darken(@red, 3%);
    }
  }
}





























